<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>

    <script src="script.js" type="text/javascript"></script>

    <title>Admin panel</title>
</head>
<body>
<div class="container-fluid d-flex min-vh-100 flex-column">
    <header class="row p-3 text-bg-dark">
        <div class="col">
            <span class="fw-bold" th:text="${#authentication.name}"></span> with roles:
            <span th:each="role : ${#authentication.principal.roles}">
                <span th:text="${role}"> </span>
            </span>
        </div>
        <div class="col-3 text-end">
            <a class="fw-bold link-secondary link-underline-opacity-0" href="/logout">Logout</a>
        </div>
    </header>
    <div class="row flex-fill fill d-flex justify-content-start">
        <div class="col-3 p-2" role="tablist">
            <div class="nav flex-column nav-pills me-3" id="side-bar" role="tablist">
                <button id="adminButton" class="nav-link-active" type="button" role="tab">Admin</button>
                <button id="userButton" class="btn btn-outline" role="button">User</button>
            </div>
        </div>
        <div class="col bg-light">
            <h1 id="pageCaption" class="m-2">Page Default Caption</h1><h1 id="pageCaption" class="m-2">Page Default Caption</h1>
            <ul id="navTabs" class="nav nav-tabs">
                <li class="nav-item">
                    <a id="usersTab" class="nav-link active" onclick="usersTabClick()">Users table</a>
                </li>
                <li class="nav-item">
                    <a id="newTab" class="nav-link" onclick="newTabClick()">New User</a>
                </li>
            </ul>
            <div class="container-fluid">
                <h2 id="tableCaption" class="m-2">All users</h2>
                <table id="adminTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!--       placeholder for js filled table-->
                    </tbody>
                </table>
            </div>

            <div>
                <table id="userTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--       placeholder for js filled table-->
                    </tbody>
                </table>

                <!-- Модальное окно -->
                <div class="modal fade" id="modalWindow" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 id="form-caption" class="modal-title"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body mx-5 px-5 text-center">
                                <form id="form">
                                    <label for="input-id" class="form-label mb-0">ID</label>
                                    <input id="input-id" type="number" disabled class="form-control mb-2" name="id">
                                    <label for="input-firstname" class="form-label mb-0">First Name</label>
                                    <input id="input-firstname" type="text" class="form-control mb-2" name="firstname">
                                    <label for="input-lastmane" class="form-label mb-0">Last Name</label>
                                    <input id="input-lastmane" type="text" class="form-control mb-2" name="lastname">
                                    <label for="input-age" class="form-label mb-0">Age</label>
                                    <input id="input-age" type="number" class="form-control mb-2" name="age">
                                    <label for="input-email" class="form-label mb-0">E-mail</label>
                                    <input id="input-email" type="email" class="form-control mb-2" name="email">
                                    <label for="input-password" class="form-label mb-0">Password</label>
                                    <input id="input-password" type="password" class="form-control mb-2" name="password">
                                    <label for="select-roles" class="form-label mb-0">Roles</label>
                                    <select id="select-roles" class="form-select mb-2" multiple name="roles">
                                    </select>
                                    <input id="checkbox-enabled" type="checkbox" class="form-check-input" name="enabled">
                                    <label for="checkbox-enabled" class="form-check-label mb-0">Enabled</label>
                                    <input id="checkbox-locked" type="checkbox" class="form-check-input" name="locked">
                                    <label for="checkbox-locked" class="form-check-label mb-0">Locked</label>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button id="button-modal-cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button id="button-modal-OK" type="button" class="btn"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Модальное окно -->

                <div id="new-user" class="row" style="display: none">
                    <div class="col-3"></div>
                    <div class="col justify-content-center">
                        <form id="newForm">
                            <label for="new-firstname" class="form-label mb-0">First Name</label>
                            <input id="new-firstname" type="text" class="form-control mb-2" name="firstname">
                            <label for="new-lastname" class="form-label mb-0">Last Name</label>
                            <input id="new-lastname" type="text" class="form-control mb-2" name="lastname">
                            <label for="new-age" class="form-label mb-0">Age</label>
                            <input id="new-age" type="number" class="form-control mb-2" name="age">
                            <label for="new-email" class="form-label mb-0">E-mail</label>
                            <input id="new-email" type="email" class="form-control mb-2" name="email">
                            <label for="new-password" class="form-label mb-0">Password</label>
                            <input id="new-password" type="password" class="form-control mb-2" name="password">
                            <label for="new-roles" class="form-label mb-0">Roles</label>
                            <select id="new-roles" class="form-select mb-2" name="roles" multiple></select>
                        </form>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-success" onclick="addUser()">Add user</button>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>


