<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>

    <script src="script.js" type="text/javascript"></script>

    <title>Admin panel</title>
</head>
<body>
<div class="container-fluid vh-100">
    <header class="row p-3 text-bg-dark">
        <div class="col">
            <span class="fw-bold" th:text="${#authentication.name}"></span> with roles:
            <span th:each="role : ${#authentication.principal.roles}">
                <span th:text="${role}"> </span>
            </span>
        </div>
        <div class="col-3 text-end">
            <a class="fw-bold link-secondary link-underline-opacity-0" href="/logout">Logout</a>
        </div>
    </header>
    <div class="row h-100">
        <div class="col-2 p-2">
            <div class="d-grid gap-2">
                <a id="adminButton" class="btn btn-primary" role="button" onclick="adminButtonClick()">Admin</a>
                <a id="userButton" class="btn btn-outline" role="button" onclick="userButtonClick()">User</a>
            </div>
        </div>
        <div class="col bg-light">
            <h1 id="adminTitle" class="m-2">Admin panel</h1>
            <h1 id="userTitle" class="m-2" style="display: none">User information page</h1>
            <ul id="navTabs" class="nav nav-tabs">
                <li class="nav-item">
                    <a id="usersTab" class="nav-link active" onclick="usersTabClick()">Users table</a>
                </li>
                <li class="nav-item">
                    <a id="newTab" class="nav-link" onclick="newTabClick()">New User</a>
                </li>
            </ul>
            <div class="container">
                <h2 id="captionAll">All users</h2>
                <h2 id="captionOne" style="display: none">About user</h2>
                <h2 id="captionNew" style="display: none">Create new user</h2>
                <table id="table" class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--       placeholder for js filled table-->
                    </tbody>
                </table>

                <table id="userTable" class="table table-striped" style="display: none">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--       placeholder for js filled table-->
                    </tbody>
                </table>

                <!-- Модальное окно -->
                <div id="modalWindow" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit user</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body mx-5 px-5 text-center">
                                <form id="form">
                                    <label class="form-label mb-0">ID</label>
                                    <input id="input-id" type="number" disabled class="form-control mb-2" name="id">
                                    <label class="form-label mb-0">First Name</label>
                                    <input id="input-firstname" type="text" class="form-control mb-2" name="firstname">
                                    <label class="form-label mb-0">Last Name</label>
                                    <input id="input-lastmane" type="text" class="form-control mb-2" name="lastname">
                                    <label class="form-label mb-0">Age</label>
                                    <input id="input-age" type="number" class="form-control mb-2" name="age">
                                    <label class="form-label mb-0">E-mail</label>
                                    <input id="input-email" type="email" class="form-control mb-2" name="email">
                                    <label class="form-label mb-0">Password</label>
                                    <input id="input-password" type="password" class="form-control mb-2" name="password">
                                    <label class="form-label mb-0">Roles</label>
                                    <select id="select-roles" class="form-select mb-2" multiple>
                                    </select>
                                    <input id="checkbox-enabled" type="checkbox" class="form-check-input" name="enabled">
                                    <label class="form-check-label mb-0">Enabled</label>
                                    <input id="checkbox-locked" type="checkbox" class="form-check-input" name="locked">
                                    <label class="form-check-label mb-0">Locked</label>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Модальное окно -->

            </div>
        </div>
    </div>
</div>
</body>
</html>


