<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:insert="~{fragments/meta.html}">
        <title>index page</title>
    </head>

    <body>
<!--header-->
    <div th:replace="~{fragments/header.html}"></div>
<!--/header-->

<!--container-->
    <h1>this is index page</h1>
<!--/container-->

<!--footer-->
    <div th:replace="~{fragments/footer.html}"></div>
<!--/footer-->
    </body>

</html>