<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <title>Admin panel</title>
</head>

<body>
<div class="container-fluid vh-100">
    <header class="row p-3 text-bg-dark">
        <div class="col">
            <span class="fw-bold" th:text="${#authentication.name}"></span> with roles:
            <span th:each="role : ${#authentication.principal.roles}">
                <span th:text="${role}"> </span>
            </span>
        </div>
        <div class="col-3 text-end">
            <a class="fw-bold link-secondary link-underline-opacity-0" href="/logout">Logout</a>
        </div>
    </header>
    <div class="row h-100">
        <div class="col-2 p-2">
            <div class="d-grid gap-2">
                <a class="btn btn-primary" href="#" role="button">Admin</a>
                <a class="btn btn-outline" href="/user" role="button">User</a>
            </div>
        </div>
        <div class="col bg-light">
            <h1 class="m-2">Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/new">New User</a>
                </li>
            </ul>
            <div class="container">
                <h2>All users</h2>
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr th:each="user : ${allUsers}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.firstname}"></td>
                        <td th:text="${user.lastname}"></td>
                        <td th:text="${user.age}"></td>
                        <td th:text="${user.email}"></td>
                        <td>
                            <span th:each="role : ${user.roles}">
                                <span th:text="${role}"> </span>
                            </span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" th:data-bs-target="'#editModal' + ${user.id}">Edit</button>
                            <!-- Модальное окно -->
                            <div class="modal fade" th:id="editModal + ${user.id}" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit user</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body mx-5 px-5 text-center">
                                            <form th:id="editForm + ${user.id}" th:method="patch"
                                                  th:action="${user.id}">
                                                <label class="form-label mb-0">ID</label>
                                                <input type="number" disabled class="form-control mb-2" th:name="id"
                                                       th:value="${user.id}">
                                                <label class="form-label mb-0">First Name</label>
                                                <input type="text" class="form-control mb-2" th:name="firstname"
                                                       th:value="${user.firstname}">

                                                <label class="form-label mb-0">Last Name</label>
                                                <input type="text" class="form-control mb-2" th:name="lastname"
                                                       th:value="${user.lastname}">
                                                <label class="form-label mb-0">Age</label>
                                                <input type="number" class="form-control mb-2" th:name="age"
                                                       th:value="${user.age}">
                                                <label class="form-label mb-0">E-mail</label>
                                                <input type="email" class="form-control mb-2" th:name="email"
                                                       th:value="${user.email}">
                                                <label class="form-label mb-0">Password</label>
                                                <input type="password" class="form-control mb-2" th:name="password"
                                                       th:value="${user.password}">
                                                <label class="form-label mb-0">Roles</label>
                                                <select class="form-select mb-2" multiple th:size="${roles.size}"
                                                        th:name="roles">
                                                    <option th:each="role : ${roles}"
                                                            th:selected="${#sets.contains(user.roles, role)}">
                                                        <span th:text="${role}"></span>
                                                    </option>
                                                </select>
                                                <input type="checkbox" class="form-check-input" th:name="enabled"
                                                       th:checked="${user.isEnabled}">
                                                <label class="form-check-label mb-0">Enabled</label>
                                                <input type="checkbox" class="form-check-input" th:name="locked"
                                                       th:checked="${!user.isAccountNonLocked}">
                                                <label class="form-check-label mb-0">Locked</label>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" th:form="editForm + ${user.id}"
                                                        class="btn btn-primary">Save changes
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / Модальное окно -->
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    th:data-bs-target="'#deleteModal' + ${user.id}">Delete
                            </button>
                            <!-- Модальное окно -->
                            <div class="modal fade" th:id="deleteModal + ${user.id}" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete user</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body mx-5 px-5 text-center">
                                            <form th:id="deleteForm + ${user.id}" th:method="delete"
                                                  th:action="${user.id}">
                                                <label class="form-label mb-0">ID</label>
                                                <input type="number" disabled class="form-control mb-2"
                                                       th:value="${user.id}">
                                                <label class="form-label mb-0">First Name</label>
                                                <input type="text" disabled class="form-control mb-2"
                                                       th:value="${user.firstname}">
                                                <label class="form-label mb-0">Last Name</label>
                                                <input type="text" disabled class="form-control mb-2"
                                                       th:value="${user.lastname}">
                                                <label class="form-label mb-0">Age</label>
                                                <input type="number" disabled class="form-control mb-2"
                                                       th:value="${user.age}">
                                                <label class="form-label mb-0">E-mail</label>
                                                <input type="email" disabled class="form-control mb-2"
                                                       th:value="${user.email}">
                                                <label class="form-label mb-0">Roles</label>
                                                <select disabled class="form-select mb-2" multiple
                                                        th:size="${roles.size}"
                                                        th:name="roles">
                                                    <option th:each="role : ${roles}"
                                                            th:selected="${#sets.contains(user.roles, role)}">
                                                        <span th:text="${role}"></span>
                                                    </option>
                                                </select>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" th:form="deleteForm + ${user.id}"
                                                        class="btn btn-danger">Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / Модальное окно -->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>