<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital@1&display=swap">

        <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}" type="text/css">

        <title>admin page</title>
    </head>

    <body>
    <!--header-->
    <div th:replace="~{fragments/header.html}"></div>
    <!--/header-->

    <!--container-->
    <h1>this is admin page</h1>
    <div class="container">
        <table>
            <caption>Table of a registered Users</caption>
            <tr>
                <th>user id</th>
                <th>login</th>
                <th>name</th>
                <th>age</th>
                <th>roles</th>
                <th>is enabled</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            <tr th:each="user : ${allUsers}">
                <td th:text="${user.id}">_id_</td>
                <td th:text="${user.username}">_login_</td>
                <td th:text="${user.name}">_name_</td>
                <td th:text="${user.age}">_age_</td>
                <td>
                    <div th:each="role : ${user.roles}">
                        <div th:text="${role.authority}">_role_</div>
                    </div>
                </td>
                <td th:text="${user.enabled}">_enabled_</td>
                <td>
                    <input type="submit" value="update" onclick="dialog_update.showModal()" th:onclick="'update' + ${user.id} + '.showModal()'">
                    <!-- Модальное окно -->
                    <dialog id="dialog_update" th:id="update + ${user.id}">
                        <h1>Update user:</h1>
                        <p>You're about to update user:</p>
                        <form th:action="${user.id}" th:method="patch" th:object="${user}">
                            <input type="number" th:value="${user.id}" value="01">
                            <input type="text" th:value="${user.username}" value="username">
                            <input type="text" th:value="${user.name}" value="name">
                            <input type="number" th:value="${user.age}" value="10">
                            <input type="" th:value="${user.roles}" value="roles">
                            <input type="text" th:value="${user.enabled}" value="enabled">
                            <input type="submit" value="cancel" formmethod="dialog">
                            <input type="submit" value="update">
                        </form>
                    </dialog>
                    <!-- / Модальное окно -->
                </td>
                <td>
                    <input type="submit" class="delete" value="delete" onclick="dialog_delete.showModal()" th:onclick="'delete' + ${user.id} + '.showModal()'">
                    <!-- Модальное окно -->
                    <dialog id="dialog_delete" th:id="delete + ${user.id}">
                        <h1>Delete user?</h1>
                        <p>You're about to delete user:</p>
                        <form th:action="${user.id}" th:method="delete" th:object="${user}">
                            <input type="number" readonly th:value="${user.id}" value="01">
                            <input type="text" readonly th:value="${user.username}" value="username">
                            <input type="text" readonly th:value="${user.name}" value="name">
                            <input type="number" readonly th:value="${user.age}" value="10">
                            <input type="text" readonly th:value="${user.roles}" value="roles">
                            <input type="text" readonly th:value="${user.enabled}" value="enabled">
                            <input type="submit" value="cancel" formmethod="dialog">
                            <input type="submit" class="delete" value="delete">
                        </form>
                    </dialog>
                    <!-- / Модальное окно -->
                </td>
            </tr>
        </table>
        <input type="submit" value="add user" onclick="dialog_new.showModal()">
        <!-- Модальное окно -->
        <dialog id="dialog_new">
            <h1>New user:</h1>
            <p>You're about to add new user:</p>
            <form action="/admin/add" th:object="${newUser}" method="post">
                <input type="text" th:field="*{username}" placeholder="login">
                <input type="password" th:field="*{password}" placeholder="password">
                <input type="text" th:field="*{name}" placeholder="user name">
                <input type="number" th:field="*{age}" placeholder="user age">

                <label th:for="roles">is USER</label>
                <input type="checkbox" th:field="*{roles}" value="ROLE_USER">

                <label th:for="roles">is ADMIN</label>
                <input type="checkbox" th:field="*{roles}" value="ROLE_ADMIN">

                <label th:for="enabled">is enabled</label>
                <input type="checkbox" th:field="*{enabled}" checked>

                <input type="submit" value="cancel" formmethod="dialog">
                <input type="submit" value="add">
            </form>
        </dialog>
        <!-- / Модальное окно -->
    </div>
    <!--/container-->

    <!--footer-->
    <div th:replace="~{fragments/footer.html}"></div>
    <!--/footer-->
    </body>

</html>