<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>Admin panel</title>
</head>

<body>

<header class="p-2 text-bg-secondary">
    <div class="container-fluid text-end">
        <button type="button" class="btn btn-outline-light">Logout</button>
    </div>
</header>

<!--container-->
<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-2">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="button">Admin</button>
                <button type="button" class="btn btn-outline">User</button>
            </div>
        </div>
        <div class="col bg-light">
            <h1 class="m-2">Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/new">New User</a>
                </li>
            </ul>
            <div class="container">
                <h2>All users</h2>
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr th:each="user : ${allUsers}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.firstname}"></td>
                        <td th:text="${user.lastname}"></td>
                        <td th:text="${user.age}"></td>
                        <td th:text="${user.email}"></td>
                        <td>
                            <span th:each="role : ${user.roles}">
                                <span th:text="${role}"> </span>
                            </span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" th:data-bs-target="'#editModal' + ${user.id}">
                                Edit
                            </button>
                            <!-- Модальное окно -->
                            <div class="modal fade" th:id="editModal + ${user.id}" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered modal-md">
                                    <div class="modal-content text-center">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit user</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form th:method="patch" th:action="${user.id}">
                                                <label class="form-label"><h5>ID</h5></label>
                                                <input type="number" class="form-control" th:name="id" th:value="${user.id}">
                                                <label class="form-label"><h5>First Name</h5></label>
                                                <input type="text" class="form-control" th:name="firstname" th:value="${user.firstname}">

                                                <label class="form-label"><h5>Last Name</h5></label>
                                                <input type="text" class="form-control" th:name="lastname" th:value="${user.lastname}">
                                                <label class="form-label"><h5>Age</h5></label>
                                                <input type="number" class="form-control" th:name="age" th:value="${user.age}">
                                                <label class="form-label"><h5>E-mail</h5></label>
                                                <input type="email" class="form-control" th:name="email" th:value="${user.email}">
                                                <label class="form-label"><h5>Password</h5></label>
                                                <input type="password" class="form-control" th:name="password" th:value="${user.password}">
                                                <label class="form-label"><h5>Roles</h5></label>
                                                <select class="form-select" multiple size="3" th:name="roles">
                                                    <option th:each="role : ${roles}" th:selected="${#sets.contains(user.roles, role)}">
                                                        <span th:text="${role}"></span>
                                                    </option>
                                                </select>
                                                <div class="container text-end">
                                                    <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">Delete
                            </button>
                            <!-- Модальное окно -->
                            <!--                    <dialog id="dialog_delete" th:id="delete + ${user.id}">-->
                            <!--                        <h1>Delete user?</h1>-->
                            <!--                        <p>You're about to delete user:</p>-->
                            <!--                        <form th:action="${user.id}" th:method="delete">-->
                            <!--                            <input type="number" readonly th:value="${user.id}" value="01">-->
                            <!--                            <input type="text" readonly th:value="${user.username}" value="username">-->
                            <!--                            <input type="text" readonly th:value="${user.name}" value="name">-->
                            <!--                            <input type="submit" value="cancel" formmethod="dialog">-->
                            <!--                            <input type="submit" class="delete" value="delete">-->
                            <!--                        </form>-->
                            <!--                    </dialog>-->
                            <!-- / Модальное окно -->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!--/container-->

</body>

</html>